body {
    font-family: Verdana, sans-serif;
    background-color: aliceblue;
}

ul {
    margin:0;
    padding:0;
    gap: 200px;
    list-style-type: none;
    flex-wrap: wrap;
}

.Title {
    padding: 10px;
    font-size: 20px;
    color: white;
    text-align:center;
}

.Header {
    margin:-10px;
    background-color: blueviolet;
}

.Content{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.Recipes {
    display: flex;
}
